<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">./logs</Property>
    </Properties>

    <Appenders>
        <RollingFile name="fileLogger"
                     fileName="${basePath}/opendotatesting.log"
                     filePattern="${basePath}/opendotatesting-%d{yyyy-MM-dd}.log"
                     append="true">
            <PatternLayout>
                <pattern>[%X{executionId}] %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1}:%L - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="All" additivity="true">
            <AppenderRef ref="fileLogger" />
        </Root>
    </Loggers>
</Configuration>